*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input,
button {
    font: inherit;
}
:root {
    --HEADER-COLOR: #fff;
    --BOUNDARY-COLOR: #ccc;;
    --FONT: Arial, sans-serif;
    --BUBBLE-RADIUS: 18px;
}
body {
    background-color: #ece5dd;
    min-height: 100vh;
    color: black;
}
main {
    display: flex;
    height: 100vh;
}
.sidebar {
    width: 40%;
    background-color: white;
    border-right: 2px solid var(--BOUNDARY-COLOR);
    padding: 2rem;
}
.sidebar input{
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--BOUNDARY-COLOR);
    border-radius: 20px;
    margin-bottom: 1rem;

}
.contact-name {
    border: 1px solid var(--BOUNDARY-COLOR);
    border-radius: var(--BUBBLE-RADIUS);
    padding: 0.8rem;
    margin-bottom: 0.8rem;
}
.chat-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    height:85vh;
}
.messagelist-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 1rem;
}
.sent{
    max-width: 60%;
    padding: 0.8rem;
    border-radius: var(--BUBBLE-RADIUS);
    background-color: #d9fdd3;
    color: black;
    align-self: flex-end;
}
.received{
    max-width: 60%;
    padding: 0.8rem;
    border-radius: var(--BUBBLE-RADIUS);
    background-color: #fff;
    border: 1px solid var(--BOUNDARY-COLOR);
    align-self: flex-start;
}
.chat-header{
    background-color: #075e54;
    color: var(--HEADER-COLOR);
    padding: 1rem;
}
.messagewriting-area{
    display: flex;
    padding: 2rem;
}
.messagewriting-area input{
    flex: 1;
    padding: 0.5rem;
    border: 1px solid var(--BOUNDARY-COLOR);
    border-radius: 35px 0 0 35px;
}
.messagewriting-area button{
    padding: 0.5rem 1rem;
    border: 1px solid var(--BOUNDARY-COLOR);
    border-left: none;
    border-radius: 0 35px 35px 0;
    background-color: #075e54;
    color: white;
    cursor: pointer;
}
.sent small,
.received small{
    display: block;
    margin-top: 5px;
    font-size: 0.8rem;
}
.contact-info{
    display:flex;
    align-items:center;
    gap:1rem;
}

.dp{
    width:50px;
    height:50px;
    border-radius:50%;
    background-color:#075e54;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
}
.contact-info{
    display: flex;
    align-items: center;
    gap: 15px;
}

.contact-info{
    display: flex;
    align-items: center;
    gap: 15px;
}

.contact-text{
    display: flex;
    flex-direction: column;
}

.contact-text h3,
.contact-text p{
    margin: 0;
    padding: 0;
    text-align: left;
}

.contact-text p{
    margin-top: 5px;
    color: #555;
    font-size: 0.95rem;
}